@import "tailwindcss";

:root {
  --primary-bg: #ffffff;
  --secondary-bg: #f8f8f8;
  --advokat-blue: #033457;
  --revision-green: #014629;
  --cta-black: #000000;
  --footer: #e1e1e1;
  --cards: #ebeef1;
  --revision-cards: #e9f3ea;
  --advosion-logo-blue: #78abcf;
  --advosion-logo-green: #85a497;

  --font-sans: var(--font-inter);
}

body {
  background: var(--primary-bg);
  color: var(--cta-black);
}

section {
  max-width: 100vw;
  padding-left: 192px;
  padding-right: 192px;
}
